@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
.header {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  margin-top: 12vh;
}

.footer {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 15vh;
}

.button-container-1 {
  position: relative;
  width: 180px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
  overflow: hidden;
  border: 1px solid;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: xx-large;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}
.button-container-1 button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  background-image: url(assets/cardbg.png);
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #000000;
  cursor: pointer;
  animation: ani2 0.7s steps(22) forwards;
  padding-left: 10px;
}
.button-container-1 button:hover {
  animation: ani 1.3s steps(22) forwards;
  cursor: none;
}



.mas {
  position: absolute;
  color: #ffffff;
  text-align: center;
  width: 101%;
  padding-top: 6px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 20px;
  margin-top: 17px;
  overflow: hidden;

  font-weight: bold;
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
a {
  color: #00ff95;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  border-radius: 20px;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 20px;
  width: 100%;
  color: #ffffff;
  display: block;
  transition: 0.5s;
  position: absolute;
  background-color: rgba(0, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  border-left: 3px solid rgba(0, 255, 255, 0.8);
  border-right: 3px solid rgba(0, 255, 255, 0.8);
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #000000;
  display: block;
  border-radius: 20px;
  background-color: rgba(0, 255, 255, 0.8);
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  border-left: 3px solid rgba(0, 255, 255, 0.8);
  border-right: 3px solid rgba(0, 255, 255, 0.8);
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}/*# sourceMappingURL=button.css.map */